* {
  box-sizing: border-box;
}

html,
body {
  text-align: center;
}

div#container {
  width: 400px;
  height: 400px;
  background-color: lightgrey;
  border-radius: 10px;
  box-shadow: 5px 5px 3px black;
  margin: 10% auto 10px;
  padding: 5px;
}

#stats-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#tipo1 {
  width: 100px;
  border: 1px solid black;
  margin-left: 50%;
}

#tipo2 {
  width: 100px;
  border: 1px solid black;
  margin-right: 50%;
}

#input {
  width: 200px;
  height: 30px;
  border: 2px solid black;
  border-radius: 5px;
}

#btn1,
#btn2 {
  height: 30px;
  border: 2px solid black;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}
